.container {
    display: grid;
    /*grid-template-areas:*/
    /*    ". header header header header ."*/
    /*    ". search search filter filter ."*/
    /*    ". list list list list ."*/
    /*    ". list list list list ."*/
    /*    ". list list list list ."*/
    /*    ". addInput addInput addInput addTask .";*/
    grid-template-rows: auto;
    grid-template-columns: 200px repeat(4, 1fr) 200px;
    grid-gap: 10px;
    padding: 20px;
    min-width: 1015px;
}

.header {
    grid-column: 2/6;
    grid-row: 1/2;
    /*grid-area: header*/
}

.search {
    grid-column: 2/4;
    grid-row: 2/3;
    /*grid-area: search;*/
}

.todo-list {
    grid-column: 2/6;
    grid-row: 3/4;
    /*grid-area: list;*/
}

.filter {
    grid-column: 4/6;
    grid-row: 2/3;
    /*grid-area: filter;*/
}

.add {
    grid-column: 2/6;
    grid-row: 4/5;
    height: 50px;
}

/*.addTask {*/
/*    !*grid-area: addTask;*!*/
/*}*/